/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variabel warna */
:root {
  --primary:#0081A7;
  --text: #ffffff;
  --overlay: rgba(0, 0, 0, 0.6);
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: var(--text);
  overflow: hidden;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1506784365847-bbad939e9335?auto=format&fit=crop&w=1950&q=80') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}

.hero-content {
  position: relative;
  z-index: 10;
  max-width: 700px;
  padding: 20px;
}

.hero-content h5 {
  color: var(--primary);
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.hero-content h1 span {
  color: var(--primary);
}

.hero-content p {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 35px;
}

.cta {
  background: var(--primary);
  color: white;
  padding: 14px 36px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}

.cta:hover {
  background: #c4c4c4;
  transform: scale(1.05);
}
